body {
    color: rgb(161, 53, 45);
    background: linear-gradient(45, yellow, green)
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}