body {
    color: rgb(19, 127, 170);
    background-color: rgb(175, 23, 23);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}