body {
    color: rgb(161, 25, 25);
    background-color: rgb(1, 14, 29);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
header {
    border: solid 2px rgb(42, 122, 228);
}